// Container widths
$container-width-wide: 1800px;
$container-width: 1170px;
$container-narrow-width: 880px;

// Colors
$primary-color:		#262727;
$secondary-color:	#FFB958;
$tertiary-color:	#ECF5F9;

$white:				#ffffff;
$black:				#000000;
$gray:				#aeaeae;
$gray-100:				#F8F8F8;
$gray-300:				#CCCCCC;

// Fonts
$primary-font: 'Agenda Light';
$secondary-font: 'Agenda Bold';
$tertiary-font: 'Agenda Medium';

// Font Sizes
$font-size-xsmall:	0.725px;
$font-size-small:	0.9em;
$font-size-base:	1em;
$font-size-large:	1.5em;
$font-size-xlarge:	1.875em;

$button-font-size: 1.2em;

// Font Weight
$font-weight-l: 300;
$font-weight-r: 400;
$font-weight-m: 500;
$font-weight-sb: 600;
$font-weight-b: 700;
$font-weight-blc: 900;

// Heading sizes
$font-size-h1: 3.5em;
$font-size-h2: 3em;
$font-size-h3: 1.5em;
$font-size-h4: 1.375em;
$font-size-h5: 1.375em;
$font-size-h6: 1.25em;

// Breakpoints
$mac_l: 1660px;
$mac: 1440px;
$lt: 1366px;
$ls: 1280px;
$lg: 1199px;
$md: 991px;
$tab: 800px;
$sm: 767px;
$mb_p: 640px;
$mb: 480px;
$ip: 420px;
$xs: 350px;

// Navigation config
$responsive-toggle-breakpoint: $lg;
$toggle-menu-height: 20px;
$toggle-menu-width: 25px;
$toggle-menu-bar-height: 3px;
$toggle-menu-bar-color: $primary-color;
$toggle-menu-bar-active-color: transparent;