.site-header {
    background-color: $white;
    left: 0;
    padding: 40px 15px 35px;
    position: fixed;
    right: 0;
    top: 0;
    // visibility: hidden;
    width: 100%;
    z-index: 999;
    // @include min-mq ($wow_hidden) {
    //     visibility: hidden;
    // }
    @include transition-all;
    @include max-mq ($lt - 25) {
        padding-right: 30px;
        padding-left: 30px;
    }
    @include max-mq ($lg) {
        padding: 30px 15px 30px;
    }
    @include max-mq ($mb) {
        padding: 20px 0 20px;
    }
    .logged-in & {
        top: 32px;
    }
    &.fixed-site-header {
        box-shadow: 0px 15px 20px rgba($color: $black, $alpha: 0.08);
        padding-bottom: 7px;
        padding-top: 7px;
    }
}


.site-branding-main-logo {
    a {
        display: block;
        max-width: 300px;
        width: 100%;
        @include transition-all;
        @include max-mq ($mac + 50) {
            max-width: 280px;
        }
        // @include max-mq ($sm) {
        //     max-width: 300px;
        // }
        @include max-mq ($mb + 100) {
            max-width: 240px;
        }
        .fixed-site-header & {
            max-width: 290px;
            width: 100%;
            @include max-mq ($mac + 50) {
                max-width: 250px;
            }
            // @include max-mq ($sm) {
            //     max-width: 270px;
            // }
            @include max-mq ($mb + 100) {
                max-width: 200px;
            }
        }
        &:hover {
            svg {
                path {
                    fill: $secondary-color !important;
                }
            }
        }
        
    }
    svg {
        display: block;
        width: 100%;
        path {
            @include transition-all;
        }
    }
}

