

.logo-menu-wrapper {
	@include max-mq($sm) {
		padding: 10px 15px;
	}
	.site-branding{
		margin-right: auto;
	}
	
	&:after{
		content: '';
		background-color: rgba(0, 0, 0, 0.4);
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0;
    	transition: .4s ease;
		z-index: -1;
		visibility: hidden;
	}

	.menu-opened &{
		&:after{
      		opacity: 1;
			z-index: 0;
			visibility: visible;
		}
	}
	  
	.main-navigation {
		min-width: 270px;
		top: 0;
		margin-left: auto;
		@include max-mq($responsive-toggle-breakpoint) {
			background-color: $white;
			position: fixed;
			transition: .4s;
			z-index: 999;
			left: -100%;
			overflow: auto;
			height: 100vh;
			align-items: flex-start !important;
			.menu-opened & {
				left: 0%;
			}
		}

		.admin-bar & {
			top: 32px;
		}

		.arrow-toggle {
			position: absolute;
			right: -2px;
			top: 0;
			cursor: pointer;
			padding: 5px;
			height: 100%;
			display: flex;
			align-items: center;

			@include max-mq($responsive-toggle-breakpoint) {
				right: 10px;
			}
		}
		
		.main-menu-container {
			@include max-mq($responsive-toggle-breakpoint) {
				width: 100%;
				margin-bottom: 40px;
			}
			> ul {
				> li {
					text-align: center;
				}
			}
			ul {
				margin: 0;
				padding: 0;
	
				li {
					color: $secondary-color;
					display: block;
					margin: 0;
					position: relative;
					@include transition-all;
					@include min-mq($lg) {
						display: inline-block;
					}
					@include max-mq($responsive-toggle-breakpoint) {
						border-bottom: 1px solid $gray;
						&:after{
							content: none;
						}
					}
					&.current-menu-item {
						&:after,
						&:before {
							align-items: center;
							background-color: transparent;
							bottom: 0;
							color: $secondary-color;
							display: flex;
							height: auto;
							justify-content: center;
							margin: auto;
							position: absolute;
							top: 0;
							width: auto;
							line-height: 1;
							padding-bottom: 3px;
						}
						&:after {
							content: ']';
							left: auto;
							right: 13px;
						}
						&:before {
							content: '[';
							right: auto;
							left: 10px;
						}
						// > a {
						// 	color: $secondary-color;
						// }
						&:last-of-type {
							a {
								background-color: $secondary-color;
								border-color: $secondary-color;
								color: $white;
							}
						}
					}

					&:last-of-type {
						margin-left: 15px;
						@include min-mq ($mac) {
							margin-left: 27px;
						}
						&:after,
						&:before {
							content: none;
							display: none;
						}
						> a {
							border: 2px solid $primary-color;
							border-radius: 30px;
							font-weight: $font-weight-sb;
							font-size: $font-size-small;
							text-transform: none;
							padding: 9px 33px 11px;
							letter-spacing: 0;
							@include transition-all;
							&:hover {
								background-color: $primary-color;
								border-color: $primary-color;
								color: $white;
							}
							
						}
					}

					&:hover{
						color: $primary-color;
					}
	
					a {
						padding: 10px 20px;
						display: block;
						letter-spacing: 2px;
						position: relative;
						color: $primary-color;
						width: 100%;
						font-family: $tertiary-font;
						font-weight: $font-weight-m;
						text-decoration: none;
						text-transform: uppercase;
						@include min-mq ($mac) {
							letter-spacing: 4px;
							padding: 10px 25px;
						}
						@include max-mq($mac) {
							padding: 10px 15px;
						}
						&:hover {
							color: $secondary-color;
						}
					}

					&.sub-menu-open{
						@include max-mq($responsive-toggle-breakpoint) {
							> a{
								background-color: $primary-color;
								color: $white;
							}
						}
					}
				}
			}
	
			.sub-menu {
	
				@include max-mq($lg - 1) {
					display: none;
					margin: 0;
					padding: 0 0 0 25px;
				}
	
				@include min-mq($lg) {
					background-color: #fff;
					box-shadow: 0 5px 20px rgba(#000, .1);
					left: -50px;
					margin: auto;
					opacity: 0;
					padding: 0;
					position: absolute;
					right: -50px;
					text-align: center;
					top: 99%;
					visibility: hidden;
					width: 200px;
					z-index: 10;
				}
	
				li {
					display: block;
	
					a {
						padding: 10px 20px;
	
						@include max-mq($lg - 1) {
							padding: 10px 0;
						}
					}
	
					&:not(:last-child) {
	
						@include min-mq($lg) {
							border-bottom: 1px solid rgba(#000, .1);
						}
					}
				}
	
				.sub-menu {
	
					@include min-mq($lg) {
						left: 100%;
						right: auto;
						top: 0;
						z-index: 11;
					}
	
					@include min-mq($lt) {
						left: 100%;
						right: auto;
					}
				}

			}
	
			.menu-item-has-children {
	
				&:hover {
	
					>.sub-menu {
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}
	}
}