.relative {
    position: relative;
}
.section-background-image {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    right: 0;
    width: 100%;
}

.left-calc-wide {
    @extend %left-calc-wide;
}