.site-footer {
    background-color: $primary-color;
    color: $white;
    .site-footer-container {
        max-width: $container-width-wide + 30px;
    }
    .sub-menu {
        display: none;
    }
    .widget-wrapper {
        padding-bottom: 10px;
        padding-top: 75px;
        @include min-mq ($lg) {
            padding-top: 111px;
        }
    }
    .footer-widgets-wrapper {
        align-items: center;
    }
    .site-info {
        flex: 0 0 13%;
        font-family: $tertiary-font;
        font-weight: $font-weight-m;
        letter-spacing: 1.3px;
        max-width: 13%;
        text-align: right;
        @include min-mq ($mac) {
            max-width: 10%;
            flex: 0 0 10%;
        }
        @include max-mq ($lg) {
            flex: 0 0 100%;
            max-width: 100%;
            padding-bottom: 10px;
            // padding-top: 10px;
            text-align: center;
        }
    }
    .widget_nav_menu {
        font-family: $tertiary-font;
    }
    .footer-column-2 {
        max-width: 87%;
        flex: 0 0 87%;
        display: flex;
        align-items: center;
        @include min-mq ($mac) {
            max-width: 90%;
            flex: 0 0 90%;
        }
        @include max-mq ($lg) {
            max-width: 100%;
            flex: 0 0 100%;
            flex-wrap: wrap;
        }
        .widget_nav_menu {
            margin-left: 35px;
            // margin-left: auto;
            // margin-right: auto;
            @include min-mq ($mac) {
                margin-left: 75px;
            }
            @include max-mq ($ls) {
                margin-left: 15px;
            }
            @include max-mq ($lg) {
                max-width: 100%;
                flex: 0 0 100%;
                margin-left: 0;
                text-align: center;
                padding-bottom: 30px;
            }
            ul {
                @include max-mq ($lg) {
                    margin-left: 0;
                    padding-left: 0;
                }
            }
            li {
                margin-left: 33px;
                letter-spacing: 2px;
                @include min-mq ($ls) {
                    letter-spacing: 4px;
                }
                @include max-mq ($mac) {
                    font-size: $font-size-base - 0.15;
                }
                @include max-mq ($ls) {
                    margin-left: 15px;
                }
                @include max-mq ($xs) {
                    padding-bottom: 10px;
                    margin-left: 0;
                    margin-right: 0;
                    display: block;
                    width: 100%;
                    &:last-child {
                        padding-bottom: 0;
                    }
                }
                &.current-menu-item {
                    a {
                        color: $secondary-color;
                    }
                }
            }
        }
        .widget_media_image {
            max-width: 354px;
            width: 100%;
            @include max-mq ($mac) {
                max-width: 304px;
            }
            @include max-mq ($lg) {
                margin-left: auto;
                margin-right: auto;
            }
            @include max-mq ($xs) {
                max-width: 264px;
            }
            a {
                display: block;
                &:hover {
                    svg {
                        path {
                            fill: $secondary-color;
                        }
                    }
                }
            }
            svg {
                max-height: 114px;
                width: 100%;
                padding-top: 26px;
                path {
                    @include transition-all;
                }
            }
        }
    }
    a {
        color: $white;
        text-decoration: none;
        &:hover {
            color: $secondary-color;
        }
    }
    ul {
        list-style: none;
        li {
            display: inline-block;
            font-weight: $font-weight-m;
            margin-left: 10px;
            margin-right: 10px;
            vertical-align: middle;
        }
    }
    .mc4wp-form-fields {
        margin-bottom: 15px;
        h1, h2, h3, h4, h5, h6 {
            text-transform: uppercase;
        }
        a {
            color: $secondary-color;
            &:hover {
                color: $white;
            }
        }
        input {
            &[type="email"] {
                background-color: $white;
                width: calc(100% - 105px);
                @include max-mq ($mb) {
                    width: calc(100% - 82px);
                }
                .hfeed.site & {
                    border: 1px solid $white;
                    padding: 17px 22px;
                }
            }
        }
        [type="submit"] {
            background-color: $white;
            border-radius: 0 50px 50px 0;
            border: 1px solid $white;
            color: $secondary-color;
            margin-left: 0;
            width: 100px;
            @include transition-all;
            @include max-mq ($mb) {
                width: 80px;
            }
            .hfeed.site & {
                padding-bottom: 17px;
                padding-top: 17px;
            }
            &:hover {
                background-color: $secondary-color;
                color: $white;
                border-color: $secondary-color;
            }
            i {
                padding-top: 3px;
                display: inline-block;
            }
        }
    }
    .newsletter-wrapper {
        border-radius: 50px;
        border: 2px solid $white;
        margin-left: auto;
        margin-right: auto;
        max-width: 680px;
        // padding-bottom: 40px;
        padding-bottom: 34px;
        padding-left: 25px;
        padding-right: 25px;
        @include max-mq ($ip - 20) {
            padding-left: 16px;
            padding-right: 16px;
        }
        h1, h2, h3, h4, h5, h6 {
            background-color: $primary-color;
            letter-spacing: 1.2px;
            margin-bottom: 1.2em;
            margin-top: -20px;
            max-width: 520px;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 0;
            width: 100%;
            @include max-mq ($ip - 20) {
                letter-spacing: 0.5px;
            }
        }
        label {
            p {
                margin-bottom: 0.25em;
                font-weight: $font-weight-m;
            }
        }
        .newsletter-form-wrap {
            background-color: $white;
            border-radius: 40px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 17px;
        }
        
    }
    
    .newsletter-label-input-options-wrapper {
        margin-left: auto;
        margin-right: auto;
        max-width: 570px;
        @include min-mq ($sm) {
            padding-right: 13px;
        }
        .hidden-field {
            label {
                font-size: 0;
                &.checkbox-label {
                    cursor: default;
                    input + span {
                        opacity: 0;
                        height: 2px;
                        width: 2px;
                        &:after {
                            height: 2px;
                            width: 2px;
                        }
                    }
                }
            }
        }
        label {
            font-family: $tertiary-font;
            letter-spacing: 2.2px;
            font-weight: $font-weight-m;
            @include min-mq ($sm) {
                letter-spacing: 3.2px;
            }
            @include max-mq ($mb) {
                letter-spacing: 1px;
            }
            p {
                letter-spacing: 3px;
            }
        }
    }
}

.mc4wp-response {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}