%left-calc {
    padding-left: calc(50vw - ( #{$container-width} / 2 ) + 10px);
    width: 100%;
    @include max-mq ($ls + 10) {
        padding-left: 15px;
    }
}

%right-calc {
    padding-right: calc(50vw - ( #{$container-width} / 2 ) + 5px);
    width: 100%;
    @include max-mq ($ls + 10) {
        padding-right: 15px;
    }
}

%left-calc-wide {
    padding-left: calc(50vw - ( #{$container-width-wide} / 2 ) + 10px);
    width: 100%;
    @include max-mq ($ls + 10) {
        padding-left: 15px;
    }
}

%right-calc-wide {
    padding-right: calc(50vw - ( #{$container-width-wide} / 2 ) + 10px);
    width: 100%;
    @include max-mq ($ls + 10) {
        padding-right: 15px;
    }
}

%left-calc-absolute-wide {
    left: calc(50vw - ( #{$container-width-wide} / 2 ) + 10px);
    width: 100%;
    @include max-mq ($ls + 10) {
        padding-left: 15px;
    }
}

%right-calc-absolute-wide {
    right: calc(50vw - ( #{$container-width-wide} / 2 ) + 10px);
    width: 100%;
    @include max-mq ($ls + 10) {
        padding-right: 15px;
    }
}


%left-calc-absolute-middle {
    left: calc(50vw - ( #{$container-width-middle} / 2 ) + 0);
    @include max-mq ($lt - 100) {
        left: 15px;
    }
    @include max-mq ($mb) {
        left: 0;
    }
}

%right-calc-absolute-middle {
    right: calc(50vw - ( #{$container-width-middle} / 2 ) - 57px);
    @include max-mq ($lt - 100) {
        right: 15px;
    }
    @include max-mq ($mb) {
        right: 0;
    }
}

%absolute-full {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 0;
}

%after-full {
    // background-color: red;
    bottom: 0;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 0;
}



