/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

h1 {
	font-size: $font-size-h1;
	font-weight: $font-weight-b;
}
h2 {
	font-size: $font-size-h2;
	font-weight: $font-weight-b;
}
h3 {
	font-size: $font-size-h3;
	font-weight: $font-weight-sb;
}
h4 {
	font-size: $font-size-h4;
	font-weight: $font-weight-sb;
}
h5 {
	font-size: $font-size-h5;
	font-weight: $font-weight-sb;
}
h6 {
	font-size: $font-size-h6;
	font-weight: $font-weight-sb;
}