#page-contact-details-section {
    padding-top: 147px;
    background-color: $tertiary-color;
    @include min-mq (999px) {
        visibility: hidden;
    }
    @include max-mq ($lg) {
        padding-top: 107px;
    }
    @include max-mq ($mb) {
        padding-top: 95px;
    }
    &.map-is-included-into-page {
        padding-bottom: 0;
    }
    .contact-details-content {
        position: relative;
    }
    .contact-page-details-section-wrapper {
        padding-top: 0;
    }
    .contact-section-decoration-image-left {
        z-index: 0;
    }
    .contact-section-decoration-image {
        &.contact-section-decoration-image-right {
            top: 155px;
            @extend %right-calc-absolute-wide;
            @include max-mq ($fhd - 100) {
                right: 20px;
            }
            @include max-mq ($mac) {
                max-width: 220px;
            }
            @include max-mq ($lt) {
                max-width: 200px;
            }
            @include max-mq ($lt - 20) {
                max-width: 180px;
                right: 5px;
            }
            @include max-mq ($ls - 10) {
                max-width: 160px;
            }
            @include max-mq ($lg) {
                display: none;
            }
       
        }
    }
    .contact-details-map-section-details {
        position: relative;
        z-index: 2;
        @include min-mq ($mac) {
            padding-top: 14px;
        }
        img {
            display: block;
            transform: scale(1);
            transition: all .5s;
            width: 100%;
        }
        a {
            display: block;
            overflow: hidden;
            &:hover {
                img {
                    transform: scale(1.0125);
                }
            }
        }
    }
}