.faq-section {
    padding-top: 110px;
    padding-bottom: 25px;
    @include min-mq ($wow_hidden) {
        visibility: hidden;
    }
    @include max-mq ($mac + 50) {
        padding-top: 85px;
    }
    @include max-mq ($ls) {
        padding-top: 80px;
    }
    @include max-mq ($mb_p) {
        padding-top: 60px;
    }
    + .faq-section {
        padding-top: 0;
        padding-bottom: 38px;
    }
}
.faq-section-wrapper-inner {
    .section-main-title {
        font-size: $font-size-h2 - 0.5;
        letter-spacing: -0.8px;
        margin-bottom: 0.75em;
        margin-top: 0.2em;
        @include max-mq ($lt) {
            font-size: $font-size-h2 - 0.65;
        }
        @include max-mq ($lg) {
            font-size: $font-size-h2 - 0.7;
        }
        @include max-mq ($mb_p) {
            font-size: $font-size-h2 - 0.75;
        }
        @include max-mq ($mb) {
            font-size: $font-size-h2 - 0.85;
        }
        @include max-mq ($ip) {
            font-size: $font-size-h2 - 1.25;
        }

    }
    .section-title {
        margin-bottom: 0.05em;
        margin-top: 0;
        letter-spacing: -0.5px;
        
    }
    .faq-container-narrow-wide {
        max-width: $container-narrow-width - 145px;
    }
}

.faq-section-questions-answers-items {
    padding-bottom: 48px;
    &:last-of-type {
        padding-bottom: 15px;
    }
}

.faq-section-questions-answers-item {
    a {
        text-decoration: none;
    }
}
.faq-section-item-question {
    color: $primary-color;
    align-items: center;
    border-bottom: 1px solid $gray-300;
    display: flex;
    font-family: $secondary-font;
    font-size: $button-font-size;
    padding: 22px 0;
    @include transition-all;
    &:hover {
        color: $secondary-color;
    }
    &.active {
        border-bottom-color: $white;
    }
    .faq-icon {
        width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 3px;
        .icon-plus-icon {
            color: $secondary-color;
        }
        .icon-minus-icon {
            font-size: 5px;
        }
    }
    .faq-question {
        padding-left: 25px;
        letter-spacing: -0.2px;
        font-weight: $font-weight-m;

    }
}
.accordion-content {
    display: none;
    padding: 0 0 15px 52px;
    letter-spacing: -0.05px;
    p {
        margin: 0;
    }
}