.hero-section {
    position: relative;
    padding-top: 130px;
    // visibility: hidden;
    @include min-mq ($wow_hidden) {
        visibility: hidden;
    }
    @include max-mq ($lg) {
        padding-top: 115px;
    }
    @include max-mq ($sm) {
        padding-top: 95px;
    }
    
    &.hero-section-large {
        height: 100vh;
        @include max-mq ($ipad) {
            height: 610px;
        }
        @include max-mq ($tab) {
            height: 660px;
        }
        @include max-mq ($sm) {
            height: auto;
        }
        // @include max-mq ($tab) {
        //     padding-bottom: 30px;
        // }
        header.main-header {
            @include max-mq ($ipad) {
                max-width: 500px;
            }
            @include max-mq ($sm) {
                // max-width: 500px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
    &.hero-section-smaller {
        .entry-content {
            @include max-mq ($mb) {
                font-size: $font-size-large - 0.35;
            }
        }
    }
    .hero-section-background-image {
        @extend %absolute-full;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .hero-section-wrapper {
        height: 100%;
        @include max-mq ($sm) {
            display: flex;
            flex-wrap: wrap;
        }
        > div:not(.hero-section-background-image):not(.hero-image-content) {
            position: relative;
            z-index: 1;
        }
    }
    .hero-container {
        height: 100%;
        @include max-mq ($sm) {
            height: auto;
            order: 0;
        }
    }
    .hero-row {
        height: 100%;
        align-items: center;
        @include max-mq ($ipad) {
            align-items: flex-start;
        }
        // > div {
        //     padding-bottom: 49px;
        //     padding-top: 129px;
        //     @include max-mq ($lg) {
        //         padding-bottom: 39px;
        //         padding-top: 40px;
        //     }
        //     @include max-mq ($tab) {
        //         padding-bottom: 20px;
        //         padding-top: 27px;
        //     }
        //     @include max-mq ($mb) {
        //         padding-bottom: 0;
        //         padding-top: 25px;
        //     }
        // }
    }
    .hero-image-wrap {
        svg,
        img {
            display: block;
        }
        // @include max-mq ($tab) {
        //     margin-left: auto;
        //     margin-right: auto;
        //     max-width: 85%;
        // }
        // @include max-mq ($mb) {
        //     max-width: 95%;
        // }
    }
    
    .hero-text-description-content-inner {
        padding-bottom: 80px;
        @include min-mq ($ls) {
            padding-bottom: 130px;
        }
        @include min-mq ($fhd + 50) {
            padding-bottom: 180px;
        }
        @include max-mq ($mac_l) {
            padding-left: 0;
        }
        @include max-mq ($ipad) {
            padding-bottom: 20px;
            padding-left: 15px;
            padding-top: 40px;
        }
        @include max-mq ($sm) {
            padding-bottom: 50px;
            padding-left: 0;
            text-align: center;
        }
        .main-hero-title {
            letter-spacing: 0;
            margin-bottom: 0.7em;
            margin-top: 0;
            position: relative;
            @include max-mq ($mac + 50) {
                font-size: clamp(40px,4.5vw,70px);
            }
            @include max-mq ($ls) {
                font-size: $font-size-h2 - 0.25;
            }
            @include max-mq ($lg) {
                font-size: $font-size-h2 - 0.45;
            }
            @include max-mq ($mb_p) {
                font-size: $font-size-h2 - 0.85;
            }
            @include max-mq ($mb) {
                font-size: $font-size-h2 - 1.35;
            }
            @include max-mq ($ip) {
                font-size: $font-size-h2 - 1.45;
            }
            @include max-mq ($xs) {
                font-size: $font-size-h2 - 1.55;
            }
            @include max-mq ($xs - 10) {
                font-size: $font-size-h2 - 1.6;
            }
            > span {
                display: inline-block;
                vertical-align: top;
                
            }
            .animated-words-wrap {
                .hidden-word {
                    opacity: 0;
                    visibility: hidden;
                }
                position: relative;
                .animated-word {
                    position: absolute;
                    left: 0;
                    opacity: 0;
                }
            }

        }
    }
    .hero-text-description-content {
        flex: 0 0 50%;
        max-width: 50%;
        // @include min-mq ($mac_l) {
        //     padding-left: 52px;
        // }
        @include min-mq ($tab + 1) {
            order: 0;
        }
        @include max-mq ($ipad) {
            flex: 0 0 100%;
            max-width: 100%;
        }
        // @include max-mq ($sm) {
        //     border-top: 3px solid $tertiary-color;
        // }
        // @include max-mq ($tab) {
        //     flex: 0 0 100%;
        //     max-width: 100%;
        // }
    }
    
    .hero-image-content {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: auto;
        z-index: 1;
        @include max-mq ($sm) {
            position: static;
            order: 1;
        }
        // flex: 0 0 58%;
        // max-width: 58%;
        // @include min-mq ($tab + 1) {
        //     padding-right: 0;
        //     order: 1;
        // }
        // @include max-mq ($tab) {
        //     flex: 0 0 100%;
        //     max-width: 100%;
        // }
    }

    .entry-content {
        font-size: $font-size-large;
        @include max-mq ($mac_l) {
            font-size: $font-size-large - 0.12;
        }
        @include max-mq ($lt) {
            font-size: $font-size-large - 0.125;
        }
        @include max-mq ($sm) {
            font-size: $font-size-large - 0.135;
        }
        
    }
    .button-wrapper {
        padding-top: 12px;
    }
    .button {
        @include max-mq ($lg) {
            padding-left: 20px;
            padding-right: 20px;
            font-size: $button-font-size - 0.125;
        }
        @include max-mq ($ip) {
            font-size: $button-font-size - 0.2;
        }
        @include max-mq ($ip - 20) {
            padding-left: 15px;
            padding-right: 15px;
        }
        @include max-mq ($xs + 5) {
            font-size: $button-font-size - 0.35;
        }
    }
}

.animated-word-I {
    animation: pulse 4s infinite;
    animation-delay: 0s;
}
.animated-word-II {
    animation: pulse-second 4s infinite;
    animation-delay: 2s;
}
  
@keyframes pulse {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes pulse-second {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#lottie-hero {
    @include max-mq ($mb - 1px) {
        display: none;
    }
}
.mobile-hero-image {
    @include min-mq ($mb) {
        display: none;
    }
    img,
    svg {
        width: 100%;
        display: block;
    }
}