.hero-section {
    &.hero-section-smaller {
        .hero-smaller-text-description-content {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 43.4vh;
            max-height: 550px;
            min-height: 320px;
            
        }
        .main-hero-title {
            margin-bottom: 0.45em;
            margin-top: 0.45em;
            letter-spacing: -0.2px;     
        }
    }
}