.most-popular-case-studies-section {
    padding-bottom: 60px;
    padding-top: 94px;
    @include max-mq ($lt) {
        padding-bottom: 50px;
        padding-top: 65px;
    }
    @include max-mq ($lg) {
        // padding-bottom: 50px;
        padding-top: 60px;
    }
    @include max-mq ($mb) {
        padding-bottom: 35px;
        padding-top: 40px;
    }
    .section-description {
        max-width: $container-narrow-width;
        margin-left: auto;
        margin-right: auto;
        h1, h2 {
            letter-spacing: 0.6px;
            margin-bottom: 0.5em;
        }
        p, li, span, strong, b {
            font-size: $font-size-large;
            line-height: 1.4;
            @include max-mq ($lt) {
                font-size: $font-size-large - 0.15;
            }
            @include max-mq ($md) {
                font-size: $font-size-large - 0.25;
            }
            @include max-mq ($mb) {
                font-size: $font-size-large - 0.35;
            }
        }
    }
    .button-wrapper {
        padding-top: 28px;
        .button {
            max-width: 400px;
            width: 100%;
        }
    }
}
.posts-cards-items.case-study-post-cards-items {
    @include max-mq ($md) {
        justify-content: center;
    }
    .posts-cards-case-study-item {
        padding-bottom: 38px;
        .term-name {
            @include transition-color;
            color: $secondary-color;
            &:hover {
                color: $primary-color;
            }
        }
        a {
            color: $primary-color;
            text-decoration: none;
        }
        .entry-content {
            font-size: $font-size-base;
            margin-top: 0.1em;
            a {
                p {
                    font-size: $font-size-base;
                }
            }
        }
        .post-prediction-item {
            &:last-child {
                .post-prediction-item-number {
                    p {
                        text-transform: none;
                    }
                }
                
            }
        }
        .post-heading-excerpt-wraper {
            &.next-section-here {
                padding-bottom: 130px;
                @include max-mq ($md) {
                    padding-bottom: 110px;
                }
            }
        }
        .entry-header {
            padding-top: 12px;
            min-height: 0;
            margin-bottom: 0.2em;
        }
        .post-prediction-items-button-wrapper {
            max-width: 430px;
        }
        .post-product-read-more {
            padding-top: 12px;
        }
    }
    .posts-cards-case-study-item-inner {
        &:hover {
            .case-study-post-featured-img-wrap {
                transform: scale(1.05);
            }
            .link {
                color: $primary-color;
                i {
                    margin-right: -8px;
                    margin-left: 12px;
                }
            }
        }
        
    }
    .case-study-post-featured-img-link {
        border-radius: 20px;
        display: block;
        height: 364px;
        overflow: hidden;
        @include max-mq($lt) {
            height: 284px;
        }
        @include max-mq ($lg) {
            height: 234px;
        }
    }
    .case-study-post-featured-img-wrap {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 20px;
        display: block;
        height: 100%;
        margin-bottom: 24px;
        transform: scale(1);
        @include transition-all;
    }
    .product-page-links {
        padding-bottom: 1px;
        padding-top: 20px;
    }
    .term-name {
        font-weight: $font-weight-sb;
        color: $secondary-color;
        font-size: $font-size-base;
    }
    .read-more-link-wrap {
        .link {
            @include min-mq ($mac) {
                margin-right: -25px;
                margin-left: 15px;
            }
            i {
                transition: margin 0.5s;
            }
        }
        
    }
}
