.site-main .most-popular-products-section {
    // visibility: hidden;
    overflow: visible;
    @include min-mq (999px) {
        visibility: hidden;
    }

}
.most-popular-products-section-wrapper {
    background-color: $tertiary-color;
    padding-bottom: 91px;
    padding-top: 91px;
    position: relative;
    @include max-mq ($lt) {
        padding-bottom: 75px;
        padding-top: 75px;
    }
    @include max-mq ($lg) {
        padding-bottom: 65px;
        padding-top: 65px;
    }
    @include max-mq ($mb_p) {
        padding-bottom: 45px;
        padding-top: 45px;
    }
    @include max-mq ($mb) {
        padding-bottom: 35px;
        padding-top: 35px;
    }
    .most-popular-products-section-wrapper-inner {
        > div {
            max-width: $container-width-middle + 40;
            @include max-mq ($lt) {
                max-width: 100%;
            }
        }
        .button-wrapper {
            padding-bottom: 24px;
        }
    }
    .section-description {
        max-width: $container-narrow-width;
        margin-left: auto;
        margin-right: auto;
        h1 {
            letter-spacing: 0;
            margin-bottom: 0.55em;
        }
        p, li, span, strong, b {
            font-size: $font-size-large;
            line-height: 1.6;
            @include max-mq ($lt) {
                font-size: $font-size-large - 0.15;
            }
            @include max-mq ($md) {
                font-size: $font-size-large - 0.25;
            }
            @include max-mq ($mb) {
                font-size: $font-size-large - 0.35;
            }
        }
    }
    .button-wrapper {
        position: relative;
        z-index: 2;
        .button {
            max-width: 400px;
            width: 100%;
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    .most-popular-products-decorational-image {
        position: absolute;
        z-index: 1;
        &.most-popular-products-decorational-image-left {
            bottom: -40px;
            left: 0;
        }
        &.most-popular-products-decorational-image-right {
            top: 25%;
            right: 0;
            z-index: 0;
        }
    }
}

.posts-cards-items {
    padding-top: 14px;
    .posts-cards-item {
        padding-bottom: 47px;
        @include max-mq ($md) {
            flex: 0 0 50%;
            max-width: 50%;
        }
        @include max-mq ($sm) {
            flex: 0 0 100%;
            max-width: 100%;
        }
        .post-product-excerpt {
            font-size: $font-size-base;
            line-height: 1.7;
            p, li, span, strong, b {
                font-size: $font-size-base - 0.1;
            }
        }
    }
    .posts-cards-item-link {
        background-color: $white;
        color: $primary-color-100;
        border-radius: 20px;
        box-shadow: 0px 5px 35px rgba($color: $black, $alpha: 0.1);
        display: block;
        height: 100%;
        padding: 36px 20px 174px;
        position: relative;
        text-decoration: none;
        @include transition-all;
        &:hover {
            box-shadow: 0px 5px 35px rgba($color: $black, $alpha: 0.25);
            .link {
                color: $primary-color;
            }
        }
    }
    .post-featured-img-wrap {
        align-items: center;
        display: flex;
        height: 119px;
        justify-content: center;
        margin-bottom: 35px;
        padding-bottom: 0;
        text-align: center;
        overflow: hidden;
    }
    .entry-header {
        align-items: center;
        display: flex;
        justify-content: center;
        margin-bottom: 25px;
        min-height: 72px;
        width: 100%;
        @include max-mq ($mb_p) {
            margin-bottom: 15px;
            min-height: 0;
        }
    }
    .post-heading-excerpt-wraper {
        text-align: center;
        .entry-title {
            font-size: $font-size-h3;
            font-weight: $font-weight-sb;
            line-height: 1.2;
            margin-bottom: 0;
            margin-top: 0;
            @include max-mq ($lg) {
                font-size: $font-size-h3 - 0.125;
            }
        }
    }
    .post-prediction-items-button-wrapper {
        bottom: 31px;
        left: 0;
        margin-left: auto;
        margin-right: auto;
        max-width: 344px;
        padding-left: 15px;
        padding-right: 15px;
        position: absolute;
        right: 0;
        width: 100%;
        @include max-mq ($mb_p) {
            max-width: 424px;
        }
    }
    .post-prediction-items {
        display: flex;
    }
    .post-prediction-item {
        flex: 1 1;
        border-right: 1px solid $gray-300;
        &:last-child {
            border-right: none;
        }
    }
    .post-prediction-item-title,
    .post-prediction-item-number {
        line-height: 1;
        text-transform: uppercase;
        margin: 0.25em 0;
        p {
            margin: 0;
        }
    }
    .post-prediction-item-title {
        font-family: $tertiary-font;
        font-size: $font-size-xsmall;
        p {
            text-transform: uppercase;
        }
        
    }
    .post-prediction-item-number {
        font-size: $font-size-h3;
        font-weight: $font-weight-sb;
    }
    .post-product-read-more {
        text-align: right;
        padding-top: 25px;

    }
}

.after-products-cta-element {
    font-size: $font-size-large;
    font-weight: $font-weight-sb;
    padding-bottom: 13px;
    padding-top: 13px;
    position: relative;
    z-index: 2;
    a {
        color: $primary-color;
        &:hover {
            color: $secondary-color;
        }
    }
}