.most-popular-case-studies-section {
    padding-bottom: 60px;
    padding-top: 94px;
    @include max-mq ($mac + 50) {
        padding-bottom: 50px;
        padding-top: 65px;
    }
    @include max-mq ($lg) {
        // padding-bottom: 50px;
        padding-top: 60px;
    }
    @include max-mq ($mb) {
        padding-bottom: 35px;
        padding-top: 40px;
    }
    .section-description {
        max-width: $container-narrow-width;
        margin-left: auto;
        margin-right: auto;
        h1, h2 {
            letter-spacing: 0.6px;
            margin-bottom: 0.5em;
        }
        p, li, span, strong, b {
            font-size: $font-size-large;
            line-height: 1.4;
            @include max-mq ($mac + 10) {
                font-size: $font-size-large - 0.15;
            }
            @include max-mq ($md) {
                font-size: $font-size-large - 0.25;
            }
            @include max-mq ($mb) {
                font-size: $font-size-large - 0.35;
            }
        }
    }
    .button-wrapper {
        padding-top: 48px;
        @include max-mq ($mac + 50) {
            padding-top: 48px;
        }
        @include max-mq ($md) {
            padding-top: 18px;
        }
        .button {
            max-width: 400px;
            width: 100%;
        }
    }
}
.posts-cards-items.case-study-post-cards-items {
    @include max-mq ($md) {
        justify-content: center;
    }
    .posts-cards-case-study-item {
        padding-bottom: 0;
        @include max-mq ($md) {
            margin-bottom: 30px;
        }
        .term-name {
            @include transition-color;
            color: $secondary-color;
            &:hover {
                color: $primary-color;
            }
        }
        a {
            color: $primary-color;
            text-decoration: none;
        }
        .entry-content {
            font-size: $font-size-base;
            margin-top: 0.6em;
            a {
                p {
                    font-size: $font-size-base;
                }
            }
        }
        .post-prediction-items {
            flex-wrap: wrap;
            justify-content: center;
        }
        .post-prediction-item {
            flex: 0 0 140px;
            max-width: 140px;
            @include max-mq ($xs) {
                flex: 0 0 120px;
                max-width: 120px;
            }
            &.post-prediction-item-location {
                flex: 0 0 100%;
                max-width: 100%;
                border-right: none;
                padding-bottom: 23px;
                .post-prediction-item-number {
                    text-transform: none;
                    font-size: $font-size-xsmall;
                    font-weight: $font-weight-r;
                    color: rgba($color: $primary-color-100, $alpha: 0.58);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    svg {
                        margin-right: 10px;
                    }
                    p {
                        letter-spacing: 1px;
                    }
                }
            }
            &:last-child {
                .post-prediction-item-number {
                    p {
                        text-transform: none;
                    }
                }
            }
        }
        .post-heading-excerpt-wraper {
            padding-left: 10px;
            padding-right: 10px;
            &.next-section-here {
                padding-bottom: 130px;
                // @include max-mq ($md) {
                //     padding-bottom: 110px;
                // }
            }
        }
        .entry-header {
            padding-top: 12px;
            min-height: 0;
            margin-bottom: 0.2em;
        }
        .post-prediction-items-button-wrapper {
            max-width: 430px;
        }
        .post-product-read-more {
            padding-top: 12px;
        }
    }
    .posts-cards-case-study-item-inner {
        background-color: $gray-50;
        border: 1px solid $gray-70;
        border-radius: 20px;
        height: 100%;
        &:hover {
            .case-study-post-featured-img-wrap {
                transform: scale(1.05);
            }
            .link {
                color: $primary-color;
                i {
                    margin-right: -8px;
                    margin-left: 12px;
                }
            }
        }
        
    }
    .case-study-post-featured-img-link {
        border-radius: 20px 20px 0 0;
        display: block;
        // height: 364px;
        height: 255px;
        overflow: hidden;
        @include max-mq($mac + 50) {
            height: 200px;
        }
        @include max-mq ($lg) {
            height: 200px;
        }
    }
    .case-study-post-featured-img-wrap {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 20px 20px 0 0;
        display: block;
        height: 100%;
        // margin-bottom: 24px;
        margin-bottom: 18px;
        padding-bottom: 24px;
        transform: scale(1);
        @include transition-all;
    }
    .product-page-links {
        padding-bottom: 1px;
        padding-top: 15px;
        @include max-mq ($sm) {
            height: auto !important;
        }
        &.product-page-links-2 {
            min-height: 60px;
        }
    }
    .term-name {
        font-weight: $font-weight-sb;
        color: $secondary-color;
        font-size: $font-size-base - 0.025;
        @include max-mq ($mac + 50) {
            font-size: $font-size-small - 0.1;
        }
    }
    .read-more-link-wrap {
        .link {
            @include min-mq ($mac) {
                margin-right: -25px;
                margin-left: 15px;
            }
            i {
                transition: margin 0.5s;
            }
        }
        
    }
}
