.hero-section-background-image {
    background-image: url('../assets/images/case-study-single-page-hero-image.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-section-wrapper.single-case-study-hero {
    .hero-section-background-image {
        background-image: url('../assets/images/case-study-single-page-hero-image.svg');
    }
}

.single-case-study-hero {
    padding-bottom: 9px;
    padding-top: 61px;
    @include max-mq ($fhd - 200) {
        padding-left: 15px;
        padding-right: 15px;
    }
    @include max-mq ($lg) {
        padding-top: 30px;
    }
    @include max-mq ($md) {
        padding-top: 10px;
    }
    @include max-mq ($sm) {
        padding-top: 0;
    }
    .container-middle-wide-large-case-study {
        max-width: $container-width-middle-large + 100;
    }
}

.hero-smaller-row {

}

.single-case-study-featured-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    @include max-mq ($md) {
        height: 300px;
        margin-bottom: 30px;
        flex: 0 0 100%;
        max-width: 100%;
    }
    @include max-mq ($mb) {
        height: 240px;
    }
}
.hero-smaller-text-description-content {
    &.single-product-hero {
        @include max-mq ($md) {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}

// .single-case-study-hero-wrapper {
//     .hero-section-single-product {
//         @include max-mq ($sm) {
//             padding-bottom: 80px;
//         }
//     }
// }

.hero-section.hero-posts.hero-section-single-product {
    &.hero-section-single-case-study {
        @include max-mq ($mac) {
            padding-top: 120px;
        }
        @include max-mq ($md) {
            padding-bottom: 50px;
            padding-top: 105px;
        }
    }
}


.hero-single-case-study-text-description-content-inner {
    padding-bottom: 32px;
    padding-left: 30px;
    @include max-mq ($md) {
        padding-left: 0;
    }
    @include min-mq ($lt) {
        padding-left: 60px;
    }
    @include min-mq ($mac) {
        padding-left: 80px;
    }
    @include max-mq ($mac + 50) {
        padding-bottom: 15px;
    }
    @include max-mq ($sm) {
        padding-left: 0;
        padding-bottom: 0;
    }
    .main-hero-title {
        font-size: $font-size-h2 - 0.5;
        line-height: 1.3;
        margin-bottom: 0.25em;
        margin-top: -5px;
        letter-spacing: 0;
        @include max-mq ($ls) {
            font-size: $font-size-h2 - 0.25;
        }
        @include max-mq ($lg) {
            font-size: $font-size-h2 - 0.45;
        }
        @include max-mq ($mb_p) {
            font-size: $font-size-h2 - 0.85;
        }
        @include max-mq ($mb) {
            font-size: $font-size-h2 - 1.35;
        }
        @include max-mq ($ip) {
            font-size: $font-size-h2 - 1.45;
        }
        @include max-mq ($xs) {
            font-size: $font-size-h2 - 1.55;
        }
        @include max-mq ($xs - 10) {
            font-size: $font-size-h2 - 1.6;
        }
    }
    .post-prediction-items {
        max-width: 580px;
        @include max-mq ($lg) {
            flex-wrap: wrap;
        }
        .post-prediction-item {
            flex: 0 0 auto;
            @include min-max-mq ($md, $lg) {
                flex: 0 0 100%;
                max-width: 100%;
                padding-left: 0;
                border-bottom: 1px solid $gray-300;
                border-right: none;
            }
            @include max-mq ($mb_p) {
                flex: 0 0 100%;
                max-width: 100%;
                padding-left: 15px;
                border-bottom: 1px solid $gray-300;
                border-right: none;
            }
            
        }
    }
    .posts-cards-items {
        .post-prediction-item-title {
            font-size: $font-size-base + 0.1;
            font-weight: $font-weight-m;
            @include min-mq ($ls) {
                letter-spacing: 1.4px;
            }
            @include max-mq ($lt) {
                font-size: $font-size-base - 0.1;
            }
        }
        .post-prediction-item-number {
            font-size: $font-size-h3 + 0.5;
            @include max-mq ($mac_l) {
                font-size: $font-size-h3 + 0.25;
            }
            @include max-mq ($mac + 100) {
                font-size: $font-size-h3;
            }
            @include max-mq ($mb) {
                font-size: $font-size-h3 - 0.125;
            }
            
        }
    }
    .post-prediction-item {
        padding-left: 20px;
        padding-right: 15px;
        &:first-child {
            padding-left: 0;
            @include max-mq ($mb_p) {
                padding-left: 15px;
            }
        }
        &:last-child {
            padding-right: 10px;
        }
    }
    .hero-prediction-button-wrap {
        padding-top: 34px;
        @include max-mq ($mac + 50) {
            padding-top: 25px;
        }
        @include min-max-mq($md, $lg) {
            padding-top: 5px;
        }
        @include max-mq ($mb_p) {
            padding-top: 5px;
        }
    }
}

.product-page-links {
    padding-bottom: 10px;
    padding-top: 10px;
    a {
        display: inline-block;
        font-size: $button-font-size + 0.1;
        font-weight: $font-weight-sb;
        margin-right: 16px;
        padding-right: 16px;    
        position: relative;
        text-decoration: none;
        vertical-align: middle;
        @include max-mq ($lt) {
            font-size: $button-font-size + 0.125;
        }
        &:last-of-type {
            margin-right: 0;
            padding-right: 0;
            &::after {
                content: none;
                display: none;
            }
        }
        &:after {
            background-color: $secondary-color;
            border-radius: 50%;
            bottom: 0;
            content: '';
            height: 5px;
            margin: auto;
            position: absolute;
            right: -5px;
            top: 3px;
            width: 5px;
        }
    }
}

.location-type-details {
    padding-bottom: 10px;
    padding-top: 10px;
    p {
        margin: 0;
        font-size: $button-font-size + 0.1;
        font-weight: $font-weight-m;
        @include max-mq ($lt) {
            font-size: $button-font-size + 0.025;
        }
    }
}

.text-image-image-text-sections-wrapper {
    background-color: $tertiary-color;
    padding-top: 50px;
    padding-bottom: 90px;
    // visibility: hidden;
    @include min-mq ($wow_hidden) {
        visibility: hidden;
    }
    @include max-mq ($md) {
        padding-bottom: 65px;
    }

    .image-text-row,
    .text-image-row {
        align-items: center;
    }

    .text-image-main-image-wrapper {
        flex: 0 0 36.433333%;
        max-width: 36.433333%;
        @include max-mq ($sm) {
            flex: 0 0 100%;
            max-width: 100%;
            text-align: center;
        }
        .text-image-main-image-list-inner {
            @include max-mq ($sm) {
                max-width: 290px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
    .text-image-text-description-content {
        flex: 0 0 63.566667%;
        max-width: 63.566667%;
        @include max-mq ($sm) {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }

    .text-image-row {
        .text-image-main-image-wrapper {
            @include min-mq ($sm) {
                order: 1;
            }
        }
        .text-image-text-description-content {
            @include min-mq ($sm) {
                order: 0;
            }
        }
    }
    .text-image-image-text-section {
        padding-bottom: 35px;
    }
    .section-description-large {
        h1 {
            margin-bottom: 0.7em;
        }
    }

    .section-button-wrapper {
        padding-bottom: 30px;
        padding-top: 20px;
        
    }
}

.image-text-main-image-wrapper {
    @include max-mq ($sm) {
        text-align: center;
    }
    .image-text-main-image-list-inner {
        @include max-mq ($sm) {
            max-width: 260px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.single-case-study-similar-work-wrapper {
    padding-bottom: 50px;
    padding-top: 69px;
    @include max-mq ($md) {
        padding-bottom: 40px;
        padding-top: 49px;
    }
  
}