.button {
	padding: 10px 25px;
	border-radius: 30px;
	font-size: $button-font-size;
	font-weight: $font-weight-b;
	@include transition-all;
	text-decoration: none;
	&.button-primary {
		background-color: $primary-color;
	}

	&.button-secondary {
		border: 1px solid $secondary-color;
		background-color: $secondary-color;
		color: $white;
		&:hover {
			background-color: $primary-color;
			border-color: $primary-color;
		}
	}

	&.button-tertiary {
		background-color: $tertiary-color;
	}
}