.button {
	@include transition-all;
	border-radius: 50px;
	display: inline-block;
	font-family: $secondary-font;
	font-size: $button-font-size;
	font-weight: $font-weight-b;
	letter-spacing: 0.6px;
	padding: 14px 30px;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	@include min-mq ($lg) {
		padding: 15px 51px;
    	letter-spacing: 1px;
	}
	.single-product-hero & {
		padding-left: 10px;
		padding-right: 10px;
	}
	&.button-primary {
		background-color: $primary-color;
	}

	&.button-secondary {
		border: 1px solid $secondary-color;
		background-color: $secondary-color;
		color: $white;
		&:hover {
			background-color: $primary-color;
			border-color: $primary-color;
		}
	}

	&.button-tertiary {
		background-color: $tertiary-color;
	}
}

.frm_style_formidable-style {
	&.with_frm_style {
		.frm_submit {
			.button {
				&.button-secondary {
					@include transition-all;
					background-color: $secondary-color;
					border-radius: 50px;
					border: 1px solid $secondary-color;
					color: $white;
					display: inline-block;
					font-family: $secondary-font !important;
					font-size: $font-size-h3 + 0.5025;
					letter-spacing: 0.6px;
					margin-left: auto;
					margin-right: auto;
					max-width: 500px;
					padding: 14px 20px;
					text-decoration: none;
					font-weight: $font-weight-b;
					vertical-align: middle;
					width: 100%;
					@include min-mq ($lg) {
						padding: 14px 20px;
						letter-spacing: 1.6px;
					}
					&:hover {
						background-color: $primary-color;
						border-color: $primary-color;
					}
				}
			}
		}
	}
}