.hfeed.site,
.frm_style_formidable-style.with_frm_style .form-field {
  input[type='text'],
  input[type='email'],
  input[type='url'],
  input[type='password'],
  input[type='search'],
  input[type='number'],
  input[type='tel'],
  input[type='range'],
  input[type='date'],
  input[type='month'],
  input[type='week'],
  input[type='time'],
  input[type='datetime'],
  input[type='datetime-local'],
  input[type='color'],
  textarea {
    color: $primary-color;
    border: 1px solid $gray-300;
    border-radius: 30px;
    font-size: $font-size-base;
    line-height: 1em;
    padding: 10px 20px;
    vertical-align: middle;
    height: auto;
    &:focus {
      box-shadow: none;
      border-color: $primary-color;
    }
  }
  textarea {
    padding-top: 20px;
    height: 272px;
  }
}


textarea {
  resize: none;
  padding-left: .6em;
  width: 100%;
}

button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  border: 1px solid;
  border-radius: 0;
  font-family: $primary-font !important;
  font-size: $font-size-base;
  line-height: 1.15em;
  padding: 10px;
  vertical-align: middle;
}


/*---- Placeholder ----*/
::-webkit-input-placeholder {
  opacity: 1;
  color: $gray-300 !important;
  font-family: $primary-font !important;
}
\:-moz-placeholder {
  opacity: 1;
  color: $gray-300 !important;
  font-family: $primary-font !important;
}
::-moz-placeholder {
  opacity: 1;
  color: $gray-300 !important;
  font-family: $primary-font !important;
}
\:-ms-input-placeholder {
  opacity: 1;
  color: $gray-300 !important;
  font-family: $primary-font !important;
}
*::-webkit-input-placeholder {
  opacity: 1;
  color: $gray-300 !important;
  font-family: $primary-font !important;
}
*:-moz-placeholder {
  opacity: 1;
  color: $gray-300 !important;
  font-family: $primary-font !important;
}
*:-ms-input-placeholder {
  opacity: 1;
  color: $gray-300 !important;
  font-family: $primary-font !important;
}

fieldset {
    min-width: 0;
}