.link {
    font-family: $primary-font;
    font-size: $button-font-size;
    font-weight: $font-weight-sb;
    @include transition-all;
    &.link-primary {
        color: $primary-color;
    }
    &.link-secondary {
        color: $secondary-color;
    }
    &.link-tertiary {
        color: $tertiary-color;
    }
    &.link-arrow {
        i {
			font-size: $font-size-xsmall - 0.1;
			margin-left: 4px;
			display: inline-block;
			vertical-align: middle;
		}
    }
}