.lf-social-wrapper {
    text-align: center;
    padding-top: 35px;
    .site-footer & {
        padding-top: 60px;
        @include max-mq ($ip) {
            padding-top: 35px;
        }
    }
    .social-icon-menu-items {
        display: inline-block;
        vertical-align: middle;
        margin-left: 15px;
        margin-right: 15px;
        @include max-mq ($ip - 10) {
            margin-left: 10px;
            margin-right: 10px;
        }
        a {
            color: $secondary-color;
            text-decoration: none;
            font-size: $font-size-large;
            @include max-mq ($xs) {
                font-size: $font-size-large - 0.15;
            }
            &:hover {
                color: $white;
            }
            i {
                display: inline-block;
                vertical-align: middle;
            }
        }
    }
}

.social-share-options {
    background-color: $white;
    max-width: 25px;
    opacity: 1;
    text-align: center;
    @include max-mq ($md) {
        max-width: 100%;
        text-align: left;
        display: flex;
        align-items: center;
    }
    .share-title {
        margin-bottom: 20px;
        @include max-mq ($md) {
            margin-bottom: 0;
        }
    }
    a {
        display: block;
        text-decoration: none;
        margin-bottom: 20px;
        font-size: $font-size-large;
        @include max-mq ($md) {
            margin: 0 15px;
        }
        // .icon-facebook {
        //     font-size: $font-size-large + 0.00125;
        // }
        &:last-of-type {
            margin-bottom: 10px;
            @include max-mq ($md) {
                margin-bottom: 0;
            }
        }
        &:hover {
            color: $primary-color;
        }
    }
    .share-option {
        color: $secondary-color;
        font-size: $font-size-large;
    }
}