.lf-social-wrapper {
    text-align: center;
    padding-top: 35px;
    .site-footer & {
        padding-top: 60px;
    }
    .social-icon-menu-items {
        display: inline-block;
        vertical-align: middle;
        margin-left: 15px;
        margin-right: 15px;
        a {
            color: $secondary-color;
            text-decoration: none;
            font-size: $font-size-large;
            &:hover {
                color: $white;
            }
            i {
                display: inline-block;
                vertical-align: middle;
            }
        }
    }
}

.social-share-options {
    background-color: $white;
    max-width: 25px;
    opacity: 1;
    text-align: center;
    .share-title {
        margin-bottom: 20px;
    }
    a {
        display: block;
        text-decoration: none;
        margin-bottom: 20px;
        font-size: $font-size-large;
        &:last-of-type {
            margin-bottom: 10px;
        }
        &:hover {
            color: $primary-color;
        }
    }
    .share-option {
        color: $secondary-color;
        font-size: $font-size-large;
    }
}