.posts-card-list-items {
    padding-top: 94px;
    @include max-mq ($mac + 50) {
        padding-top: 74px;
    }
    @include max-mq ($ls) {
        padding-top: 54px;
    }
    @include max-mq ($tab) {
        padding-top: 24px;
    }
}

.posts-cards-items {
    @include max-mq($lt) {
        max-width: $container-width-middle + 40;
        margin-left: auto;
        margin-right: auto;
    }
    @include max-mq($mb + 100) {
        margin-left: -15px;
        margin-right: -15px;
    }
    &.archive-posts-cards-items {
        // visibility: hidden;
        @include min-mq ($wow_hiddne) {
            visibility: hidden;
        }
        .post-type-archive & {
            @include min-max-mq($lg, $ls + 55) {
                padding-left: 2vw;
                padding-right: 2vw;
            }
        }
        .posts-cards-list-item {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
    .posts-cards-list-item {
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 19px;
        &:last-child {
            .post-prediction-item-number {
                text-transform: none;
                font-size: $font-size-base;
                font-weight: $font-weight-sb;
                margin-top: 15px;
            }
        }
        .posts-cards-item-link {
            display: flex;
            border-radius: 0;
            border-bottom: 1px solid $gray-300;
            padding: 15px;
            box-shadow: 0px 5px 30px transparent;
            @include max-mq ($tab) {
                flex-wrap: wrap;
            }
            &:hover {
                box-shadow: 0px 5px 30px rgba($color: $black, $alpha: 0.15);
                // .link {
                //     color: $primary-color;
                // }
            }
        }
        .product-card-thumbnail-wrap {
            flex: 0 0 138px;
            max-width: 138px;
            @include max-mq ($tab) {
                flex: 0 0 100%;
                max-width: 100%;
            }
            .post-featured-img-wrap {
                @include max-mq ($tab) {
                    margin: 12px auto 0;
                    max-width: 140px;
                }
                @include max-mq ($mb) {
                    max-width: 120px;
                }
            }
        }
        .post-heading-excerpt-wraper {
            flex: 0 0 calc(100% - 138px);
            max-width: calc(100% - 138px);
        }
        .post-heading-predictions-wraper {
            display: flex;
            padding-left: 25px;
            @include min-mq ($lt + 10)  {
                padding-left: 56px;
            }
            @include max-mq ($mac)  {
                padding-left: 15px;
            }
            @include max-mq ($mb_p + 20)  {
                flex-wrap: wrap;
                padding-left: 0;
            }
        }
       
        .post-heading-predictions-inner {
            flex: 0 0 300px;
            max-width: 300px;
            @include max-mq ($mb_p + 20)  {
                flex: 0 0 100%;
                max-width: 100%;
                text-align: center;
            }
        }
        .post-product-excerpt {
            flex: 0 0 calc(100% - 300px);
            max-width: calc(100% - 300px);
            padding-left: 40px;
            padding-top: 5px;
            @include max-mq ($mac) {
                padding-left: 32px;
            }
            @include min-mq ($lt + 10)  {
                padding-left: 64px;
            }
            @include max-mq ($lg) {
                padding-left: 25px;
            }
            @include max-mq ($mb_p + 20)  {
                flex: 0 0 100%;
                max-width: 100%;
                padding-left: 15px;
                padding-right: 15px;
            }
            p, li, span, strong, b {
                font-size: $font-size-base + 0.1;
                line-height: 1.5;
                @include max-mq ($lt) {
                    font-size: $font-size-base + 0.075;
                    line-height: 1.4;
                }
            }
        }
        .post-product-read-more {
            padding-bottom: 15px;
            padding-top: 19px;
            .link {
                letter-spacing: 0.9px;
            }
            i {
                margin-left: 8px;
                
            }
        }
        .post-prediction-items-button-wrapper {
            margin-left: 0;
            margin-right: 0;
            max-width: 100%;
            padding-left: 0;
            padding-right: 0;
            position: static;
            text-align: center;
        }
        .post-featured-img-wrap {
            height: auto;
            display: block;
            margin-bottom: 23px;
            margin-top: 20px;
            img {
                width: 100%;
            }
        }
        .entry-header {
            min-height: 0;
            display: block;
            padding-left: 15px;
        }
        .entry-title {
            font-size: $font-size-h3;
            font-weight: $font-weight-sb;
            line-height: 1.15;
            @include max-mq ($lt) {
                font-size: $font-size-h3 - 0.075;
            }
            
        }

    }
}
