.hero-section.hero-posts {
    padding-top: 135px;
    @include min-mq ($lt + 10) {
        padding-top: 161px;
    }
    @include max-mq ($lg) {
        padding-top: 135px;
    }
}
.archive-case-studies-hero-section-wrapper {
    .hero-section-background-image {
        background-image: url('../assets/images/case-study-archive-hero-image-Inflow-Finance.svg');
        @include min-mq ($fhd + 200) {
            background-size: auto;
        }
    }
    .main-hero-title {
        letter-spacing: 0.4px;
        margin-bottom: 0.5em;
    }
    .main-hero-description {
        max-width: $container-narrow-width - 180;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0.5em;
        letter-spacing: 0.2px;
    }
}

.archive-case-study-page-latest-items-wrapper {
    .case-study-post-cards-items {
        @include max-mq ($ipad) {
            justify-content: center;
        }
        .posts-cards-case-study-item {
            padding-bottom: 15px;
            margin-bottom: 22px;
            @include max-mq ($ls) {
                margin-bottom: 10px;
            }
            @include max-mq ($ipad) {
                flex: 0 0 50%;
                max-width: 50%;
            }
            @include max-mq ($sm) {
                flex: 0 0 100%;
                max-width: 100%;
                // margin-bottom: 0;
            }
        }
        .post-product-excerpt {
            p {
                font-size: $font-size-base;
            }
        }
    }
    
}

.taxonomy-case-study-page-latest-items-wrapper {
    .posts-cards-case-study-item {
        .case-study-post-featured-img-wrap {
            margin-bottom: 9px;
        }
        .post-category-item {
            display: none;
        }
    }
}