.contact-details-section {
    padding-bottom: 110px;
    padding-top: 180px;
    .contact-details-content-inner {
        background-color: $tertiary-color;
        border-radius: 40px;
        padding: 45px 75px;
        max-width: $container-width-middle;
        margin-left: auto;
        margin-right: auto;
        @include min-mq ($lg) {
            padding: 70px 125px;
        }
        h1, h2 {
            font-size: $font-size-h2;
            letter-spacing: 0;
            margin-bottom: 0.9em;
        }
        .section-description {
            p {
                max-width: $container-narrow-width;
                margin-left: auto;
                margin-right: auto;
            }
            p, li, span, strong, b {
                font-size: $font-size-large;
                line-height: 1.6;
            }
        }
        
    }
    .contact-details-after-form {
        padding-top: 30px;
        font-size: $font-size-large - 0.2;
        p {
            text-transform: uppercase;
            a {
                display: inline-block;
                text-transform: none;
                text-decoration: none;
                margin: 4px 0;
            }
        }
        strong {
            font-family: $secondary-font;
        }
    }
    .contact-section-decoration-image {
        bottom: 0;
        position: absolute;
        img {
            display: block;
        }
        &.contact-section-decoration-image-left {
            left: 0;
            right: auto;
            z-index: -1;
        }
        &.contact-section-decoration-image-right {
            @extend %right-calc-absolute-middle;
            left: auto;
            max-width: 273px;
            width: 100%;
        }
    }
    a[href*="mailto"] {
        text-decoration: underline !important;
    }
}
