.contact-details-section {
    padding-bottom: 110px;
    padding-top: 150px;
    @include max-mq ($lt) {
        padding-top: 135px;
        padding-bottom: 105px;
    }
    @include max-mq ($md) {
        padding-bottom: 75px;
        // padding-top: 135px;
    }
    @include max-mq ($md) {
        padding-top: 50px;
    }
    .single-case-studies &,
    .post-type-archive-case-studies & {
        padding-top: 180px;
        @include max-mq ($lt + 10) {
            padding-top: 230px;
        }
        @include max-mq ($lg) {
            padding-top: 250px;
            padding-bottom: 110px;
        }
        @include max-mq ($md) {
            padding-top: 35px;
            padding-bottom: 75px;
        }
        

    }
    .contact-details-content {
        @include min-max-mq($mb, $lt) {
            padding-left: 30px;
            padding-right: 30px;
        }
    }
    .contact-details-content-inner {
        background-color: $tertiary-color;
        border-radius: 40px;
        padding: 45px 75px;
        max-width: $container-width-middle + 9;
        margin-left: auto;
        margin-right: auto;
        @include min-mq ($lt + 10) {
            padding: 70px 125px;
        }
        @include max-mq ($md) {
            padding: 35px 45px;
        }
        @include max-mq ($ip) {
            padding: 30px 35px;
        }
        @include max-mq ($ip - 20) {
            padding: 15px 20px;
        }
        h1, h2 {
            font-size: $font-size-h2 - 0.25;
            letter-spacing: 0;
            margin-bottom: 0.9em;
            @include max-mq ($lt) {
                font-size: $font-size-h2 - 0.35;
            }
            @include max-mq ($lg) {
                font-size: $font-size-h2 - 0.45;
            }
            @include max-mq ($mb_p) {
                font-size: $font-size-h2 - 0.85;
            }
            @include max-mq ($mb) {
                font-size: $font-size-h2 - 1.15;
            }
            @include max-mq ($mb) {
                font-size: $font-size-h2 - 1.15;
            }
            @include max-mq ($ip) {
                font-size: $font-size-h2 - 1.25;
            }

        }
        .section-description {
            p {
                max-width: $container-narrow-width;
                margin-left: auto;
                margin-right: auto;
            }
            p, li, span, strong, b {
                font-size: $font-size-large;
                line-height: 1.6;
                @include max-mq ($mac + 10) {
                    font-size: $font-size-large - 0.15;
                }
                @include max-mq ($md) {
                    font-size: $font-size-large - 0.25;
                }
                @include max-mq ($mb) {
                    font-size: $font-size-large - 0.35;
                }
            }
        }
        
    }
    .contact-details-after-form {
        padding-top: 20px;
        font-size: $font-size-large - 0.2;
        margin-left: auto;
        margin-right: auto;
        max-width: 400px;
        @include max-mq ($mb + 100) {
            font-size: $font-size-large - 0.35;
        }
        @include max-mq ($mb) {
            padding-top: 0;
            font-size: $font-size-large - 0.45;
        }
        @include max-mq ($ip - 10) {
            padding-top: 0;
            font-size: $font-size-large - 0.5;
        }
        @include max-mq ($xs + 10) {
            padding-top: 0;
            font-size: $font-size-large - 0.55;
        }
        
        > p {
            margin-bottom: 0.5em;
        }
        p {
            text-transform: uppercase;
            a {
                color: $primary-color;
                display: inline-block;
                text-transform: none;
                text-decoration: none;
                // margin: 4px 0;
                margin: 0;
                &:hover {
                    color: $secondary-color;
                }
            }
            strong,
            img {
                display: inline-block;
                vertical-align: middle;
            }
            img {
                @include max-mq ($xs) {
                    display: none;
                }
            }
        }
        .alignleft {
            margin-right: 0.75em;
            @include max-mq ($xs + 30) {
                margin-right: 0.3em;
                // font-size: $font-size-large - 0.55;
            }
        }
        strong {
            font-family: $secondary-font;
        }
    }
    &.map-is-included-into-page {
        .contact-section-decoration-image {
            &.contact-section-decoration-image-left {
                bottom: 30%;
                @include max-mq ($mac + 40) {
                    max-width: 380px;
                }
                @include max-mq ($lt) {
                    max-width: 360px;
                }
                @include max-mq ($ls) {
                    max-width: 315px;
                    bottom: 25%;
                }
                @include max-mq ($lg) {
                    display: none;
                }
            }
        }
    }
    .contact-section-decoration-image {
        bottom: 0;
        position: absolute;
        img {
            display: block;
        }
        &.contact-section-decoration-image-left {
            left: 0;
            right: auto;
            z-index: -1;
            
        }
        &.contact-section-decoration-image-right {
            @extend %right-calc-absolute-middle;
            left: auto;
            max-width: 273px;
            width: 100%;
            @include max-mq ($md) {
                display: none;
            }
        }
    }
    // a[href*="mailto"] {
    //     text-decoration: underline !important;
    // }
}
