.single-product-hero-wrapper {
    .post-prediction-items-button-wrapper {
        position: static;
        text-align: center;
    }
}
.hero-section-single-product {
    padding-bottom: 110px;
    @include max-mq ($mac + 50) {
        padding-bottom: 80px;
    }
    @include max-mq ($mb) {
        padding-bottom: 55px;
    }
    &.second-hero-activated {
        // padding-bottom: 70px;
        padding-top: 70px;
        @include max-mq ($mac + 50) {
            padding-top: 50px;
        }
        @include max-mq ($mb_p) {
            padding-bottom: 60px;
            // padding-top: 35px;
        }
        .hero-section-background-image {
            background-image: url('../assets/images/single-product-hero-double.svg');
        }
        .hero-single-product-text-description-content-inner {
            align-items: center;
            h1 {
                letter-spacing: 0;
                line-height: 1.2;
            }
        }
    }
    .hero-section-background-image {
        background-image: url('../assets/images/Blog-posts-background-image.svg');
    }
    .hero-single-product-text-description-content-inner {
        // align-items: flex-end;
        align-items: center;
        padding-bottom: 65px;
        padding-top: 65px;
        @include max-mq ($lg) {
            padding-bottom: 35px;
            padding-top: 35px;
        }
        @include max-mq ($md) {
            padding-bottom: 0;
            padding-top: 0;
            flex-wrap: wrap;
        }
        .hero-header-text-description-wrap {
            flex: 0 0 59.9%;
            max-width: 59.9%;
            padding-right: 70px;
            // @include min-mq ($fhd + 150) {
            //     padding-right: 40px;
            // }
            
            @include max-mq ($lg) {
                flex: 0 0 57%;
                max-width: 57%;
            }
            @include max-mq ($ipad) {
                padding-right: 60px;
            }
            @include max-mq ($md) {
                flex: 0 0 100%;
                max-width: 100%;
                padding-right: 0;
            }
            &.full-width-hero-header {
                flex: 0 0 100%;
                max-width: 100%;
                padding-right: 0;
                text-align: center;
                padding-bottom: 13px;
                padding-top: 31px;
                @include max-mq ($ls) {
                    padding-bottom: 0;
                    padding-top: 25px;
                }
                @include max-mq ($tab) {
                    padding-top: 0;
                }
                .button-wrapper {
                    padding-top: 32px;
                }
                .button {
                    max-width: 450px;
                    @include max-mq ($mb) {
                        max-width: 350px;
                    }
                }
            }
        }
        .main-hero-title {
            letter-spacing: 0.7px;
            margin-bottom: 0.65em;
        }
        
        .hero-prediction-button-wrap {
            flex: 0 0 40.1%;
            max-width: 40.1%;
            padding-bottom: 10px;
            @include max-mq ($lg) {
                flex: 0 0 43%;
                max-width: 43%;
            }
            @include max-mq ($md) {
                flex: 0 0 480px;
                max-width: 480px;
                padding-top: 25px;
            }
            @include max-mq ($mb_p) {
                flex: 0 0 380px;
                max-width: 380px;
            }
            @include max-mq ($ip - 20) {
                flex: 0 0 330px;
                max-width: 330px;
            }
            @include max-mq ($xs) {
                flex: 0 0 300px;
                max-width: 300px;
            }
        }
        .post-prediction-item-title {
            font-size: $font-size-base + 0.1;
            font-weight: $font-weight-m;
            @include max-mq ($mb_p) {
                font-size: $font-size-base - 0.15;
            }
        }
        .post-prediction-item-number {
            font-size: $font-size-h3 + 0.5;
            font-weight: $font-weight-sb;
            @include max-mq ($mb_p) {
                font-size: $font-size-h3 + 0.15;
            }
        }
        .main-hero-description {
            padding-top: 0;
            margin-top: 0;
            line-height: 1.7;
            @include min-mq ($mac) {
                padding-right: 20px;
            }
            p {
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }
    .button-wrapper {
        padding-top: 44px;
        @include max-mq ($md) {
            padding-top: 24px;
        }
    }
    .button {
        width: 100%;
    }
    .post-prediction-items-button-wrapper {
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
}



.key-features-single-product {
    // visibility: hidden;
    @include min-mq ($wow_hiddne) {
        visibility: hidden;
    }
    .key-features-row {
        padding-bottom: 120px;
        padding-top: 41px;
        @include max-mq ($mac + 50) {
            padding-bottom: 100px;
            padding-top: 32px;
        }
    }
    .key-features-wrapper {
        background-color: $tertiary-color;
    }
    .section-background-image {
        background-image: url('../assets/images/inflow-Finance-Products-key-features-background-image.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .section-description {
        max-width: $container-narrow-width - 20;
        margin-left: auto;
        margin-right: auto;
        @include max-mq ($md) {
            margin-top: 0;
        }
        h1, h2, h3 {
            letter-spacing: 0.4px;
            margin-bottom: 0.67em;
        }
        p, li, span, strong, b {
            font-size: $font-size-large;
            line-height: 1.6;
            @include max-mq ($mac + 10) {
                font-size: $font-size-large - 0.15;
            }
            @include max-mq ($md) {
                font-size: $font-size-large - 0.25;
            }
            @include max-mq ($mb) {
                font-size: $font-size-large - 0.35;
            }
        }
    }
    .key-features-main-image-list-wrapper {
        padding-top: 15px;
        
    }
    .key-features-main-image-list-inner {
        background-color: $white;
        box-shadow: 0px 15px 30px rgba($color: $black, $alpha: 0.1);
        border-radius: 30px;
        padding: 50px 15px;
        display: flex;
        @include max-mq ($sm) {
            flex-wrap: wrap;
        }
        @include max-mq ($sm) {
            padding-bottom: 15px;
        }
        @include max-mq ($mb) {
            padding-bottom: 5px;
        }
        > div {
            flex: 0 0 50%;
            max-width: 50%;
            @include max-mq ($sm) {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }
    .key-features-main-image-wrap {
        text-align: center;
        padding-right: 15px;
        @include min-mq ($ls) {
            padding-right: 25px;
        }
        @include min-mq ($mac) {
            padding-right: 50px;
        }
        @include max-mq ($sm) {
            padding-right: 0;
        }
    }
    .key-features-main-list {
        padding-bottom: 12px;
        .key-features-main-list-item {
            border-bottom: 1px solid $gray-300;
            font-size: $font-size-large - 0.2;
            padding: 24px 0 23px 70px;
            position: relative;
            @include max-mq ($lt) {
                font-size: $font-size-large - 0.25;
            }
            @include min-max-mq ($sm, $md) {
                font-size: $font-size-large - 0.4;
            }
            @include min-max-mq ($sm, $lg) {
                padding-left: 50px;
            }
            @include max-mq ($mb_p) {
                font-size: $font-size-large - 0.4;
                padding-left: 50px;
            }
            @include max-mq ($ip) {
                padding-left: 40px;
            }
            i {
                bottom: 0;
                color: $secondary-color;
                display: inline-block;
                height: 36px;
                left: 0;
                margin: auto;
                position: absolute;
                top: 0;
                vertical-align: top;
                width: 25px;
                @include min-max-mq ($sm, $md) {
                    height: 30px;
                }
                @include max-mq ($mb_p) {
                    height: 27px;
                }
            }
            &:after {
                content: none;
                display: none;
            }
        }
    }
}

.text-image-and-image-text-added-as-sections {
    padding: 74px 0;
    @include max-mq ($lt) {
        padding: 50px 0;
    }
}

.text-image-and-image-text-rows-wrapper {
    .text-image-decoration-image {
        position: absolute;
        z-index: -1;
        &.text-image-decoration-image-top-right {
            top: 13%;
            right: 0;
            @include max-mq ($lt) {
                top: -50px;
            }
        }
        &.text-image-decoration-image-middle-left {
            left: 0;
            top: 20%;
        }
        &.text-image-decoration-image-bottom-right {
            bottom: -74px;
            right: 0;
            @include max-mq ($lt) {
                bottom: -50px;
            }
        }
    }
    .text-image-container {
        max-width: $container-width - 65px;
        @include max-mq ($lg) {
            padding-left: 30px;
            padding-right: 30px;
        }
    }
    .image-text-text-description-content {
        .section-description-inner {
            li {
                padding-left: 42px;
                @include max-mq ($ip) {
                    padding-left: 35px;
                }
                .content-area & {
                    padding-left: 42px;
                    @include max-mq ($ip) {
                        padding-left: 35px;
                    }
                }
                &:after {
                    content: "";
                    font-size: $button-font-size + 0.1;
                    top: 13px;
                    width: 25px;
                    .content-area & {
                        font-size: $button-font-size - 0.2;
                    }
                }
            }
        }
    }
    .text-image-main-image-wrap,
    .image-text-main-image-wrap {
        @include max-mq ($sm) {
            max-width: 340px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .section-description-inner {
        margin-top: 0;
        @include min-mq ($lt) {
            padding-right: 20px;
        }
        @include max-mq ($sm) {
            padding-top: 25px;
        }
        a {
            text-decoration: none;
        }
        
        &.section-description-large {
            h1, h2, h3 {
                margin-top: 0;
            }
            a {
                text-decoration: none;
            }
        }
        
    }
}

.text-image-single-product {
    padding: 30px 0 18px;
    // @include max-mq ($mac + 50) {
    //     padding: 98px 0 55px;
    // }
    // @include max-mq ($sm) {
    //     padding: 90px 0 55px;
    // }
    // @include max-mq ($ip) {
    //     padding: 65px 0 35px;
    // }
}
.image-text-single-product {
    padding: 18px 0 30px;
    // @include max-mq ($mac + 50) {
    //     padding: 55px 0 98px;
    // }
    // @include max-mq ($sm) {
    //     padding: 55px 0 90px;
    // }
    // @include max-mq ($ip) {
    //     padding: 35px 0 65px;
    // }
}

.single-product-text-image-wrapper,
.single-product-image-text-wrapper {
    .image-text-row,
    .text-image-row {
        background-color: $tertiary-color;
        border-radius: 30px;
        padding: 25px 15px;
        @include min-mq ($mac) {
            padding: 64px 63px 67px 79px;
        }

    }
}

.image-text-single-product,
.text-image-single-product {
    .image-text-main-image-wrapper,
    .text-image-main-image-wrapper {
        max-width: 34%;
        flex: 0 0 34%;
        @include min-mq ($sm) {
            order: 1;
        }
        @include max-mq ($sm) {
            max-width: 100%;
            flex: 0 0 100%;
        }
    }
    .image-text-main-image-wrap,
    .text-image-main-image-wrap {
        @include max-mq ($sm) {
            text-align: center;
        }
    }
    .image-text-text-description-content,
    .text-image-text-description-content {
        max-width: 66%;
        flex: 0 0 66%;
        @include min-mq ($sm) {
            order: 0;
        }
        @include max-mq ($sm) {
            max-width: 100%;
            flex: 0 0 100%;
        }
    }
}

.content-area {
    .image-text-single-product {
        .section-description-large {
            h1, h2, h3 {
                letter-spacing: 1px;
                margin-top: 0.15em;
                @include min-mq ($lg) {
                    margin-top: -12px;
                }
            }
        }
        
    }
    .section-description-large {
        h1, h2, h3 {
            letter-spacing: 0.5px;
            margin-top: 0.65em;
            font-size: clamp(40px, 4.5vw, 60px);
            @include max-mq ($ip) {
                font-size: $font-size-h2 - 1.45;
            }
            @include max-mq ($xs) {
                font-size: $font-size-h2 - 1.55;
            }
            @include max-mq ($xs - 10) {
                font-size: $font-size-h2 - 1.6;
            }
        }
        li {
            padding: 5px 0 10px 58px;
            font-size: $font-size-large - 0.2;
            @include max-mq ($ip) {
                padding-left: 45px;
                font-size: $font-size-large - 0.3;
            }
            @include max-mq ($ip) {
                padding-left: 40px;
            }
            &:after {
                font-size: $font-size-large;
                @include max-mq ($ip) {
                    font-size: $font-size-large - 0.2;
                }
            }
        }
    }
}


.facility-overview-wrapper {
    background-color: $gray-100;
    padding-bottom: 126px;
    padding-top: 40px;
    @include max-mq ($lt) {
        padding-bottom: 100px;
        padding-top: 40px;
    }
    .section-description {
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
        text-align: center;
        @include max-mq ($lt) {
            margin-top: 0.3em;
        }
        > h1 {
            letter-spacing: 1.1px;
        }
    }
    .section-background-image {
        background-image: url('../assets/images/Inflow-Finance-Facility-overview-background-image-Triangles.svg');
    }

    .facility-overview-tables-wrapper {
        padding-top: 15px;
    }

    .facility-overview-table-item,
    .facility-overview-tables-inner {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        @include max-mq ($tab + 100) {
            flex-wrap: wrap;
        }
    }
    
    .facility-overview-table {
        background-color: $white;
        border-radius: 30px;
        box-shadow: 0px 15px 30px rgba($color: $black, $alpha: 0.1);
        .facility-overview-table-item {
            font-size: $font-size-large - 0.4;
            @include max-mq ($mb + 50) {
                font-size: $font-size-large - 0.55;
            }
            @include max-mq ($ip - 10) {
                font-size: $font-size-large - 0.5;
            }
        }
    }
    // .facility-overview-tables-inner {
    //     font-size: 20px;
        // &.third-facility-added {
        //     flex-wrap: wrap;
        //     .facility-overview-first-table-wrap {
        //         flex: 0 0 39%;
        //         max-width: 39%;
        //         @include max-mq ($lt) {
        //             flex: 0 0 41%;
        //             max-width: 41%;
        //         }
        //         @include max-mq ($lg) {
        //             flex: 0 0 43.5%;
        //             max-width: 43.5%;
        //         }
        //         @include max-mq ($md) {
        //             flex: 0 0 100%;
        //             max-width: 100%;
        //             margin-bottom: 35px;
        //         }
        //         .facility-overview-table {
        //             padding: 46px 32px;
        //             @include max-mq ($mb_p) {
        //                 padding: 15px 25px;
        //             }
        //             @include max-mq ($xs) {
        //                 padding: 15px 20px;
        //             }
        //         }
        //         .facility-overview-table-item {
        //             &:first-of-type {
        //                 font-size: $font-size-large - 0.15;
        //                 @include max-mq ($ip) {
        //                     font-size: $font-size-large - 0.35;
        //                 }
        //                 @include max-mq ($xs) {
        //                     font-size: $font-size-large - 0.45;
        //                 }
        //             }
                    
        //         }
        //         .facility-overview-table-cell {
        //             flex: 0 0 35%;
        //             max-width: 35%;
        //             @include max-mq ($lt) {
        //                 flex: 0 0 37%;
        //                 max-width: 37%;
        //             }
        //             @include max-mq ($ip) {
        //                 flex: 0 0 38%;
        //                 max-width: 38%;
        //             }
        //             @include max-mq ($xs) {
        //                 flex: 0 0 39%;
        //                 max-width: 39%;
        //             }
        //             &:first-of-type {
        //                 flex: 0 0 30%;
        //                 max-width: 30%;
        //                 @include max-mq ($lt) {
        //                     flex: 0 0 26%;
        //                     max-width: 26%;
        //                 }
        //                 @include max-mq ($ip) {
        //                     flex: 0 0 24%;
        //                     max-width: 24%;
        //                 }
        //                 @include max-mq ($xs) {
        //                     flex: 0 0 22%;
        //                     max-width: 22%;
        //                 }
        //             }
        //         }
        //     }
        //     .facility-overview-second-table-wrap {
        //         flex: 0 0 52%;
        //         max-width: 52%;
        //         @include max-mq ($lt) {
        //             flex: 0 0 53%;
        //             max-width: 53%;
        //         }
        //         @include max-mq ($lg) {
        //             flex: 0 0 54.5%;
        //             max-width: 54.5%;
        //         }
        //         @include max-mq ($md) {
        //             flex: 0 0 100%;
        //             max-width: 100%;
        //         }
        //     }
        // }
    // }
    .facility-overview-tables-inner {
        &.third-facility-added {
            @include max-mq ($lg + 20) {
                flex-wrap: wrap;
            }
            .facility-overview-first-table-wrap {
                @include max-mq ($lg + 20) {
                    flex: 0 0 100%;
                    max-width: 100%;
                    margin-bottom: 35px;
                }

                .facility-overview-table-cell {
                    &:first-of-type,
                    &:last-of-type {
                        @include max-mq ($lg + 20) {
                            flex: 1 1;
                            max-width: none;
                        }
                    }
                    &:first-of-type {
                        @include max-mq ($ip) {
                            max-width: 64px;
                        }
                    }
                }
                .facility-overview-table-item{
                    &:first-of-type {
                        .facility-overview-table-cell {
                            @include max-mq ($mb + 50) {
                                font-size: 0.8em;
                            }
                            @include max-mq ($ip) {
                                font-size: 0.75em;
                            }
                        }
                    }
                }
            }
            .facility-overview-second-table-wrap {
                @include max-mq ($lg + 20) {
                    flex: 0 0 100%;
                    max-width: 100%;
                }
                
            }
         }
    }
    .facility-overview-first-table-wrap {
        flex: 0 0 40.5%;
        max-width: 40.5%;
        @include max-mq ($lg) {
            flex: 0 0 35%;
            max-width: 35%;
        }
        @include max-mq ($tab + 100) {
            flex: 0 0 100%;
            max-width: 100%;
            margin-bottom: 35px;
        }
        .facility-overview-table {
            padding: 45px 44px;
            @include min-mq ($mac + 10) {
                padding: 46px 62px;
            }
            // @include max-mq ($mac) {
            //     padding: 45px 44px;
            // }
            @include max-mq ($mb_p) {
                padding: 15px 25px;
            }
        }
        .facility-overview-table-item {
            padding-bottom: 25px;
            &:first-of-type {
                font-size: $font-size-large - 0.2;
                padding-bottom: 10px;
                // @include max-mq ($mac) {
                //     font-size: $font-size-large - 0.25;
                // }
                @include max-mq ($ip) {
                    font-size: $font-size-large - 0.25;
                }
                .facility-overview-table-cell {
                    font-weight: $font-weight-sb;
                    @include max-mq ($mb) {
                        font-size: $font-size-large - 0.5;
                    }
                }
                
            }
            &:nth-child(2) {
                font-size: $font-size-base;
                color: $gray-400;
                text-transform: uppercase;
                @include max-mq ($mb + 50) {
                    font-size: $font-size-base - 0.1;
                }
            }
            &:last-of-type {
                padding-bottom: 8px;
            }

        }
        
        .facility-overview-table-cell {
            font-weight: $font-weight-m;
            &:first-of-type {
                text-transform: uppercase;
                flex: 0 0 calc(100% - 164px);
                max-width: calc(100% - 164px);
                @include max-mq ($md) {
                    flex: 0 0 calc(100% - 144px);
                     max-width: calc(100% - 144px);
                }
            }
            &:last-of-type {
                flex: 0 0 134px;
                max-width: 134px;
                text-align: left;
                @include max-mq ($md) {
                    flex: 0 0 134px;
                    max-width: 134px;
                }
            }
        }
        .facility-overview-table-item-third-item-added {
            .facility-overview-table-cell {
                flex: 1 1;
                &:first-of-type {
                    max-width: 80px;
                }
            }
        }
    }
    .facility-overview-second-table-wrap {
        flex: 0 0 56.2%;
        max-width: 56.2%;
        @include max-mq ($lg) {
            flex: 0 0 60%;
            max-width: 60%;
        }
        @include max-mq ($tab + 100) {
            flex: 0 0 100%;
            max-width: 100%;
        }
        .facility-overview-table-item {
            flex-wrap: nowrap;
        }
        .facility-overview-table {
            padding: 19px 40px;
            @include min-mq ($mac + 10) {
                padding: 21px 60px;
            }
            @include max-mq ($mb_p) {
                padding: 15px 25px;
            }
        }
        .facility-overview-table-item {
            border-bottom: 1px solid $gray-300;
            padding: 23px 0;
            &:last-child {
                margin-bottom: 20px;
                // @include max-mq ($ip - 20) {
                //     > div {
                //         flex: 0 0 100%;
                //         max-width: 100%;
                //     }
                // }
            }
        }
        .third-field-added-title-manipulate {
            &:first-of-type {
                border-bottom: transparent;
                .facility-overview-table-cell {
                    font-size: $button-font-size + 0.1;
                    font-weight: $font-weight-sb;
                    letter-spacing: -1px;
                    @include max-mq ($mb + 20) {
                        font-size: $button-font-size - 0.1;
                    }
                    @include max-mq ($ip) {
                        font-size: $button-font-size - 0.295;
                    }
                }
            }
            .facility-overview-table-cell {
                &:first-of-type {
                    flex: 0 0 38%;
                    max-width: 38%;
                }
                &:nth-child(2),
                &:last-of-type {
                    flex: 0 0 31%;
                    max-width: 31%;
                    text-align: right;
                }
            }
        }
        .third-field-added-title-manipulate {
            .facility-overview-table-cell {
                @include max-mq ($xs) {
                    font-size: 1em - 0.15;
                }
                &:first-child {
                    @include max-mq ($xs) {
                        font-size: 1em - 0.2;
                        max-width: 75px;
                    }
                    
                }
            }
        }
        .facility-overview-table-cell {
            &:first-child {
                text-transform: uppercase;
                letter-spacing: 0.5px;
                max-width: 250px;
                padding-right: 5px;
                line-height: 1.4;
                @include min-mq ($lg) {
                    letter-spacing: 1.6px;
                }
                @include max-mq ($mb + 100) {
                    font-size: 1em - 0.1;
                }
                @include max-mq ($ip) {
                    letter-spacing: 0;
                    max-width: 210px;
                    padding-right: 5px;
                }
                // @include max-mq ($ip - 25) {
                //     max-width: 150px;
                // }
            }
            &:last-child {
                font-weight: $font-weight-m;
                max-width: 220px;
                padding-left: 5px;
                text-align: right;
                line-height: 1.3;
                @include max-mq ($mb + 100) {
                    padding-left: 1px;
                    // max-width: 180px;
                    // font-size: 1em - 0.1;
                }
            }
            .cell-note {
                display: block;
                font-size: 0.76925em;
            }
        }
    }
}

.most-popular-case-studies-section {
    &.latest-case-studies-section {
        padding-top: 62px;
        padding-bottom: 10px;
        @include max-mq ($mac + 50) {
            padding-top: 45px;
        }
        .main-title {
            letter-spacing: 0.4px;
            margin-bottom: 0.5em;
        }
        .case-study-post-featured-img-wrap {
            margin-bottom: 9px;
        }
        .post-category-item {
            display: none;
        }
        .post-product-excerpt {
            p {
                font-size: $font-size-base;
            }
        }
    }
    

}

.single-product-main-hero-wrapper {
    position: relative;
    .anchor-product-main-navigation {
        position: absolute;
        bottom: -70px;
        top: auto;
        @include max-mq ($mac) {
            bottom: -80px;
        }
        @include max-mq ($mb + 100) {
            bottom: -90px;
        }
    }
}
.main-hero-section-single-product-hybrid {
    margin-bottom: 70px;
    @include max-mq ($mac) {
        margin-bottom: 80px;
    }
    // @include max-mq ($mb + 100) {
    //     margin-bottom: 90px;
    // }
}

.anchor-product-main-navigation {
    background-color: $gray-100;
    // background-color: red;
    text-transform: uppercase;
    padding: 0;
    left: 0;
    right: 0;
    position: static;
    // visibility: hidden;
    // @include min-mq ($wow_hiddne) {
    //     visibility: hidden;
    // }
    @include max-mq ($sm - 10) {
        text-transform: none;
        line-height: 1;
    }
    &.anchore-manu-fixed-position {
        position: fixed;
        z-index: 99;
        bottom: auto;
    }
    .anchor-menu-navigation {
        max-width: $container-narrow-width + 70;
        margin-left: auto;
        margin-right: auto;
    }
    .anchor-product-list {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        @include max-mq ($sm - 10) {
            max-width: 580px;
            margin-left: auto;
            margin-right: auto;
        }
        @include max-mq ($mb + 100) {
            max-width: 400px;
        }
        .anchor-product-item {
            flex: 1 1;
            padding-left: 0;
            &:after {
                content: none;
                display: none;
            }
            &.active-anchor-link {
                span {
                    &:after {
                        background-color: $secondary-color;
                    }
                }
            }
            &.item-in-view {
                span {
                    &:after {
                        background-color: $secondary-color;
                    }
                }
            }
        }
        a {
            color: $primary-color;
            display: block;
            text-decoration: none;
            padding: 0 8px;
            font-weight: $font-weight-m;
            @include min-mq ($tab) {
                letter-spacing: 1px;
            }
            @include min-mq ($lg) {
                letter-spacing: 2px;
            }
            @include min-mq ($mac) {
                letter-spacing: 4px;
            }
            // @include max-mq ($sm - 10) {
                
            // }
            span {
                display: inline-block;
                position: relative;
                padding: 25px 0;
                &:after {
                    @extend %after-full;
                    top: auto;
                    height: 2px;
                }
            }
            &:hover {
                color: $secondary-color;
            }
        }
    }
}

.bespoke-section.bespoke-single-product {
    // visibility: hidden;
    @include min-mq ($wow_hiddne) {
        visibility: hidden;
    }
}

.bespoke-section-wrapper {
    background-color: $tertiary-color;
    padding-bottom: 70px;
    padding-top: 96px;
    @include max-mq ($ls) {
        padding-bottom: 54px;
        padding-top: 54px;
    }
    @include max-mq ($tab) {
        padding-bottom: 35px;
        padding-top: 35px;
    }
    .section-background-image {
        background-image: url('../assets/images/Bespoke-finance-single-page-section-bg-image.svg');
    }
    .bespoke-header-text-description-wrap {
        p > img {
            @include min-mq ($ls) {
                margin-top: 60px;
            }
        }
    }
    a {
        text-decoration: none;
    }
    .bespoke-section-container {
        max-width: $container-width - 110;
    }
    .bespoke-row {
        @include min-mq ($ls) {
            justify-content: space-between;
        }
    }
    .bespoke-column-content-wrapper {
        @include min-mq ($ls) {
            flex: 0 0 47%;
            max-width: 47%;
        }
    }
    .bespoke-column-content-inner {
        padding-left: 35px;
        padding-top: 12px;
        h2, h3, h4 {
            position: relative;
            font-weight: $font-weight-sb;
            line-height: 1.2;
            margin-bottom: 0.5em;
            &:before {
                color: $secondary-color;
                content: "";
                font-family: "font-icons";
                font-size: 0.75em;
                font-size: 0.7em;
                font-style: normal;
                font-variant: normal;
                font-weight: normal;
                height: 36px;
                height: 36px;
                left: -42px;
                position: absolute;
                top: 6px;
                width: 30px;
            }
        }
        p {
            @include min-mq ($ls) {
                margin-bottom: 2.15em;
            }
        }
    }
}